@media all and (max-width: 1650px){
	/* My */
	.heading1 {
		font-size: 110px;
	}
	.text_48 {
		font-size: 43px;
	}
	.text_42 {
		font-size: 37px;
	}
	.text_34 {
		font-size: 30px;
	}
	.heading2 {
		font-size: 80px;
	}
	.heading3 {
		font-size: 70px;
	}
	.heading5 {
		font-size: 58px;
	}
	.text_58 {
		font-size: 50px;
	}
	.text_36 {
		font-size: 32px;
	}

	.introducing-section {
		padding: 180px 0 350px 0;
	}
	.introducing-buttons {
		column-gap: 80px;
	}
	.introducing-details .text_48 {
		max-width: 850px;
	}
	.tokenomics-area {
		column-gap: 100px;
	}
	.tokenomics-list li .title {
		max-width: 450px;
	}
	.tokenomics-img {
		max-width: 450px;
	}
	.tokenomics-section {
		padding-bottom: 310px;
	}
	.holder-benefit-section {
		padding-bottom: 450px;
	}


	/* Update  */
	.header-nav nav ul li a {
		font-size: 28px;
	}
	.banner_content{
		padding-top: 180px;
		padding-bottom: 200px;
	}
	.Partner-area {
		padding-bottom: 230px;
	}
	.Borrow-area {
		padding-bottom: 400px;
	}
	.Faq-area {
		padding-bottom: 350px;
	}
	.footer_area {
		padding-bottom: 210px;
	}
}
@media all and (max-width: 1440px){
	/* My */
	.heading1 {
		font-size: 90px;
	}
	.text_48 {
		font-size: 37px;
	}
	.text_34 {
		font-size: 26px;
	}
	.text_36 {
		font-size: 29px;
	}
	.heading2 {
		font-size: 65px;
	}
	.heading3 {
		font-size: 60px;
	}
	.heading5 {
		font-size: 50px;
	}
	.text_42 {
		font-size: 33px;
	}
	.text_58 {
		font-size: 45px;
	}

	.introducing-section {
		padding: 120px 0 250px 0;
	}
	.introducing-details .heading1 {
		max-width: 710px;
	}
	.introducing-details .text_48 {
		max-width: 710px;
	}
	.introducing-buttons {
		column-gap: 60px;
	}
	.tokenomics-area {
		column-gap: 80px;
	}
	.tokenomics-list li .title {
		max-width: 400px;
	}
	.tokenomics-section {
		padding-bottom: 210px;
	}
	.holder-benefit-single {
		min-height: 450px;
	}
	.holder-benefit-section {
		padding-bottom: 320px;
	}
	
	/* Update  */
	.header-nav nav ul li a {
		font-size: 24px;
	}
	.header-logo a img {
		width: 200px;
		height: 60px;
	}
	.custom_btn {
		font-size: 26px;
		padding: 11px;
		min-width: 230px;
	}
	.header-main {
		padding: 40px 0px;
	}
	.banner_content{
		padding-top: 120px;
		padding-bottom: 180px;
	}
	.Partner-area {
		padding-bottom: 200px;
	}
	.Borrow-area {
		padding-bottom: 300px;
	}
	.Faq-area {
		padding-bottom: 300px;
	}
	.footer_area {
		padding-bottom: 150px;
	}
}
@media all and (max-width: 1366px){
	/* My */
	.heading1 {
		font-size: 70px;
	}
	.heading2 {
		font-size: 55px;
	}
	.heading3 {
		font-size: 50px;
	}
	.text_48 {
		font-size: 33px;
	}
	.text_36 {
		font-size: 25px;
	}
	.text_42 {
		font-size: 28px;
	}
	.text_58 {
		font-size: 37px;
	}
	.heading5 {
		font-size: 45px;
	}


	.introducing-details .heading1 {
		margin-bottom: 20px;
	}
	.introducing-details .text_48 {
		margin-bottom: 40px;
	}
	.introducing-details .contact .text_34 {
		font-size: 22px;
	}
	.introducing-details .contact {
		margin-bottom: 70px;
	}
	.introducing-buttons {
		column-gap: 40px;
	}
	.introducing-section {
		padding: 100px 0 200px 0;
	}
	.introducing-img {
		max-width: 500px;
	}
	.tokenomics-img {
		max-width: 400px;
	}
	.tokenomics-area {
		column-gap: 50px;
	}
	.tokenomics-list li .title {
		max-width: 350px;
	}
	.tokenomics-details .heading2 {
		margin-bottom: 30px;
	}
	.tokenomics-list {
		margin-bottom: 40px;
	}
	.tokenomics-details {
		margin-top: 0px;
	}
	.tokenomics-section {
		padding-bottom: 180px;
	}
	.holder-benefit-title .text_42 {
		max-width: 880px;
	}
	.holder-benefit-single {
		min-height: 400px;
		padding: 30px 40px;
	}
	.holder-benefit-single .img {
		max-width: 65px;
		margin-bottom: 10px;
	}
	.holder-benefit-single .text_58 {
		margin-bottom: 10px;
	}

	/* Update  */
	.custom_btn {
		font-size: 20px;
		min-width: 200px;
	}
	.header-nav nav ul li a {
		font-size: 20px;
	}
	.header-main::after {
		width: 500px;
		height: 486px;
	}
	.banner_content{
		padding-top: 100px;
		padding-bottom: 160px;
	}
	.Partner-area {
		padding-bottom: 180px;
	}
	.Borrow-area {
		padding-bottom: 200px;
	}

	.Faq-area {
		padding-bottom: 250px;
	}
	.single_footer_item img {
		max-width: 320px;
		max-height: 100px;
	}
	.footer_content {
		gap: 40px;
	}
	.single_footer_item ul li {
		padding-top: 18px;
	}
	.footer_area {
		padding-bottom: 100px;
	}
}
@media all and (max-width: 1199px){
	/* My */
	.heading1 {
		font-size: 64px;
	}
	.text_48 {
		font-size: 27px;
	}
	.text_36 {
		font-size: 21px;
	}
	.heading2 {
		font-size: 45px;
	}
	.heading3 {
		font-size: 40px;
	}
	.text_42 {
		font-size: 23px;
		line-height: 30px;
	}
	.text_58 {
		font-size: 30px;
	}
	.heading5 {
		font-size: 40px;
	}
	.Communities_left .heading4 {
		font-size: 55px;
		padding-bottom: 40px;
	}

	.introducing-details .contact .text_34 {
		font-size: 20px;
	}
	.introducing-img {
		max-width: 380px;
	}
	.tokenomics-img {
		max-width: 340px;
	}
	.tokenomics-list li .title {
		max-width: 300px;
	}
	.introducing-section {
		padding: 80px 0 170px 0;
	}
	.holder-benefit-title {
		margin-bottom: 50px;
	}
	.holder-benefit-single .img {
		max-width: 50px;
	}
	.holder-benefit-single {
		min-height: 350px;
		padding: 25px 35px;
	}
	.holder-benefit-section {
		padding-bottom: 220px;
	}
	.banner_content{
		padding-top: 80px;
		padding-bottom: 100px;
	}
	.banner_content .text_48 {
		padding-bottom: 80px;
	}
	.Partner-area {
		padding-bottom: 150px;
	}
	.Borrow-area {
		padding-bottom: 150px;
	}
	/* Update */
	.single_input_group input {
		font-size: 30px;
		padding: 63px 35px 24px 35px;
	}
	.single_input_group label {
		font-size: 28px;
		left: 35px;
		top: 26px;
	}
	.continue_btn {
		font-size: 35px;
		padding: 20px 25px;
	}
	.token_arow_box img {
		width: 40px;
	}
	.token_arow_box {
		width: 130px;
		height: 83px;
	}
	.Faq-area {
		padding-bottom: 200px;
	}
	.single_footer_item ul li a {
		font-size: 25px;
	}
	.footer_area {
		padding-bottom: 80px;
	}
	.header-logo .logo2 img {
		max-width: 100px;
	}
	.logo_items li a {
		font-size: 25px;
	}
	.logo_items {
		gap: 32px;
		padding-left: 20px;
	}
	.line_item::after {
		height: 16px;
		right: -16px;
	}
	.token_page_content {
		padding-top: 200px;
	}
}

@media all and (max-width: 1024px){
	.Communities_content {
		flex-direction: column;
	}
	.left_single_communities .text_58 {
		padding-bottom: 5px;
	}
	.left_single_communities img {
		height: 50px;
	}
	.left_single_communities {
		padding-bottom: 40px;
		padding-left: 0px;
	}
	.Communities-area {
		padding-bottom: 120px;
	}
	.continue_btn {
		max-width: 730px;
	}
	.continue_btn {
		font-size: 30px;
	}
	.token_arow_box {
		height: 70px;
	}
	.Faq-area {
		padding-bottom: 150px;
	}
	.single_footer_item .text_48{
		font-size: 30px;
	}

}
@media all and (min-width: 992px){
	.header-menu{
		display: flex !important;
	}

}
@media all and (max-width: 991px){
	/* Mobile menu ----------------------------*/
	.header-button {
		display: none;
	}
	.mobile-headerbtn{
		display: block;
	}
	.mobile-menu {
		display: block;
	}
	.desk_item{
		display: none !important;
	}
	.line_item::after{
		display: none;
	}
	.logo_items {
		gap: 0px;
		padding-left: 0px;
	}
	.moblile_item{
		display: flex !important;
	}
	.header-nav nav{
		position: absolute;
		width: calc(100% + 40px);
		top: 100%;
		left: -20px;
		background: #000;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		padding:40px 0;
		box-sizing: border-box;
		text-align: center;
		display: none;
		z-index: 9999999;
	}
	.header-nav nav ul{
		flex-direction: column;	
	}
	.header-nav nav ul li{
		margin-bottom: 30px;
	}
	/* My */
	.heading1 {
		font-size: 48px;
	}
	.text_48 {
		font-size: 22px;
	}
	.text_36 {
		font-size: 18px;
	}
	.heading2 {
		font-size: 37px;
	}

	.text_48 {
		font-size: 20px;
	}
	.text_42 {
		font-size: 19px;
	}
	.heading5 {
		font-size: 35px;
	}

	.introducing-details .contact .text_34 {
		font-size: 18px;
	}
	.introducing-section {
		padding: 70px 0 120px 0;
	}
	.tokenomics-img {
		max-width: 240px;
	}
	.tokenomics-list li .title {
		max-width: 230px;
	}
	.tokenomics-section {
		padding-bottom: 110px;
	}
	.holder-benefit-single {
		min-height: 300px;
		padding: 20px 25px;
	}
	.holder-benefit-section {
		padding-bottom: 150px;
	}

	/* update */
	.header-main {
		padding: 30px 0px;
	}
	.header-logo a img {
		width: 170px;
		height: 50px;
	}
	.banner_content .text_48 {
		padding-bottom: 70px;
	}
	.btn2 {
		font-size: 24px;
		padding: 16px;
		min-width: 300px;
	}
	.Borrow_content {
		flex-direction: column;
	}
	.right_single_borrow {
		margin-top: 80px;
	}
	.Partner-area {
		padding-bottom: 100px;
	}
	.Borrow-area {
		padding-bottom: 100px;
	}
	.continue_btn {
		font-size: 25px;
	}
	.token_info_box::after {
		bottom: -20px;
		border-radius: 0px 0px 20px 20px;
	}
	.accordion-button {
		padding: 30px 30px 30px 30px;
		font-size: 30px;
	}
	.accordion-body .text_30{
		font-size: 25px;
	}
	.Faq-area {
		padding-bottom: 100px;
	}
	.footer_area {
		padding-bottom: 60px;
	}
	.token_page_content {
		padding-top: 150px;
	}

}

@media all and (max-width:767px){
	/* My */
	.heading5 {
		font-size: 28px;
	}
	.introducing-area{
		flex-direction: column;
		row-gap: 30px;
	}
	.introducing-buttons{
		flex-wrap: wrap;
		row-gap: 30px;
	}
	.introducing-img{
		margin: auto;
	}
	.tokenomics-area{
		flex-direction: column;
		row-gap: 30px;
	}
	.tokenomics-img{
		margin: auto;
	}
	.tokenomics-details{
		order: -1;
	}

	/* update  */
	.banner_content .text_48 {
		padding-bottom: 50px;
	}
	.partner_title p {
		padding-bottom: 35px;
	}
	.single_partner img {
		height: 60px;
	}
	.single_borrow {
		padding: 30px 35px 50px 35px;
	}
	.single_borrow .heading5{
		padding-bottom: 20px;
	}
	.token_info_box {
		padding: 40px 20px 60px 20px;
		border-radius: 20px;
	}
	.Faq_title {
		padding-bottom: 60px;
	}
	.accordion-button {
		padding: 20px 30px 20px 30px;
		font-size: 25px;
	}
	.accordion-body .text_30{
		font-size: 20px;
	}
	.single_footer_item .text_48{
		font-size: 24px;
	}
	.single_footer_item ul li a {
		font-size: 18px;
	}
	.single_footer_item img {
		max-width: 250px;
		max-height: 60px;
	}
	.token_page_content {
		padding-top: 100px;
	}
	.btn2 {
		font-size: 20px;
		padding: 16px;
		min-width: 250px;
	}
	.mcg-53>* {
		--bs-gutter-x: inherit;
	}

}
@media all and (max-width:575px){
	/* My */
	.introducing-details .contact .text_34 {
		font-size: 14px;
	}
	/* update */
	.single_input_group input {
		font-size: 20px;
		padding: 35px 25px 13px 25px;
		border-radius: 20px;
	}
	.single_input_group label {
		font-size: 20px;
		left: 25px;
		top: 12px;
	}
	.Faq_title {
		padding-bottom: 40px;
	}
}


@media all and (max-width:450px){
	/* My */
	.introducing-details .contact .text_34 {
		font-size: 12px;
	}

}


@media all and (max-width:375px){
	/* My */

}