
.heading1{
  color: #FFF;
  text-align: center;
  font-family: Clash Display;
  font-size: 140px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.heading2{
  color: #FFF;
  font-family: Clash Display;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.heading3{
  color: #FFF;
  font-family: Clash Display;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.heading4{
  color: #FFF;
  font-family: Clash Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.heading5{
  color: #FFF;
  font-family: Clash Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text_58{
  color: #FFF;
  font-family: Clash Display;
  font-size: 58px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text_48{
  color: #FFF;
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_42{
  color: #FFF;
  font-family: Clash Display;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}